<li id="hobby">
  <%= link_to phone_posts_path do %>
    <i class="fas fa-mobile-alt" aria-hidden="true"></i> Điện thoại
  <% end %>
</li>

<li id="study">
  <%= link_to laptop_posts_path do %>
    <i class="fas fa-laptop" aria-hidden="true"></i> Máy tính sách tay
  <% end %>
</li>

<li id="team">
  <%= link_to headphone_posts_path do %>
    <i class="fas fa-headphones-alt" aria-hidden="true"></i> Tai nghe
  <% end %>
</li>