<div class="container">
  <div class="slideshow">
    <div id="slideshow" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag  "phone.png" %>
          <div class="container">
          <h2>“Well we've left behind the 200X's, and we move onto the 20XX's. .”<h2>
            <div class="carousel-caption">
              
              <h1>Phone</h1>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag  "laptop.png" %>
          <div class="container">
          <h2>“Ideas are a commodity. Execution of them is not.”</h2>    
            <div class="carousel-caption">
              <h1>Laptop</h1>
            </div>
          </div>
        </div>

      </div>

      <div class="controlsBlock">
        <div class="controls">

          <a class="left carousel-control" href="#slideshow" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>

          <a class="right carousel-control" href="#slideshow" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
           
          <div class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
          </div>

        </div>
      </div>  

    </div>
  </div>
</div>    