.single-post-card {
  min-height: 135px;
  max-height: 135px;
  color: $defaultTextColor;
  padding: 10px;
  text-align: left;
  transition: border 0.1s, background 0.3s;
  .post-text {
    overflow: hidden;
  }
  a, a:active, a:hover {
    color: black;
  }
  &:hover {
    cursor: pointer;
    background: #f5f5f5;
  }
}

.post-content {
  display: none;
}