<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @post.user.name %></div>
      <h3><%= @post.imagelink %></h3>
      <p><%= @post.title %></p>
      <h4><%= @post.price %>$</h4>
    </div>
  </div><!-- row -->
</div>