<li class="nav-item">
    <%= link_to cart_path(session[:cart_id]) do %>
        <span>
            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
        </span>
        <span id="cart-icon">
            <%= cart_count_over_one %>
        </span>
    <% end %>
</li>