<ul class="nav navbar-nav ">
    <li class="nav-item">
    <%= link_to phone_posts_path do %>
        <i class="fas fa-mobile-alt" aria-hidden="true"></i>Điện thoại
    <% end %>
    </li>

    <li class="nav-item">
    <%= link_to laptop_posts_path do %>
        <i class="fas fa-laptop" aria-hidden="true"></i>Laptop
    <% end %>
    </li>

    <li class="nav-item">
    <%= link_to headphone_posts_path do %>
        <i class="fas fa-headphones-alt" aria-hidden="true"></i>Tai nghe
    <% end %>
    </li>
</ul>